*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
body{
    background-color: black;
}
h1{
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
    color: aliceblue;
    font-family:'Song Myung', serif;
}
.fa-reply{
    position: absolute;
    font-size: 35px;
    color: aliceblue;
    margin: 5px 30px;
}
.fa-reply:hover{
    color: cornflowerblue;
}
.img1{
    margin: 0 auto;
    margin-top: 100px;
    width: 1000px;
    height: 580px;
    border-radius: 50px;
    background-image: url(https://i.namu.wiki/i/tO_Ym8P8mcdKcTbhO1WrALVA5f2RC2MprOE-B9y4Baaw650GiIXAC2rBtC017hjKZtgD7rISpTOEPd7WBtl1BfRbuECw6ASuKmJk6zJjJL4Vh-pkgt9YI_7ADsDJ53bRizSiCeh9Y7TWb9mSgcOKtw.webp);
    background-repeat: no-repeat;
    background-position: center;
}
