*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
body{
    background-color: black;
}
h1{
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
    color: aliceblue;
    font-family:'Song Myung', serif;
}
.fa-reply{
    position: absolute;
    font-size: 35px;
    color: aliceblue;
    margin: 5px 30px;
}
.fa-reply:hover{
    color: cornflowerblue;
}
.img1{
    margin: 0 auto;
    margin-top: 100px;
    width: 1000px;
    height: 580px;
    border-radius: 50px;
    background-image: url(https://i.namu.wiki/i/FmoeRM46z0L8EMbZUckQ-gADjd0toHjfsaKxrXAsNle3uQWYmSgdQgj4izEiknGK3dCBoT1BA_ol_leuEcq-U2SmRPWz2dQdtsI8EQNBoDjT57-ak0aY7b2KhjHWPwABgPOeKntLccZ8dfB2Kk28tg.webp);
    background-repeat: no-repeat;
    background-position: center;
}
