*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
body{
    background-color: black;
}
h1{
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
    color: aliceblue;
    font-family:'Song Myung', serif;
}
.fa-reply{
    position: absolute;
    font-size: 35px;
    color: aliceblue;
    margin: 5px 30px;
}
.fa-reply:hover{
    color: cornflowerblue;
}
.img1{
    margin: 0 auto;
    margin-top: 100px;
    width: 1000px;
    height: 550px;
    border-radius: 50px;
    background-image: url(https://i.namu.wiki/i/D2u5Lab5Y-SgYb9G5AIfw9VgdOTl-fmE7aAksksOS-G_2saV_-IT9Y22_LFV3YMWdz-hA1SHOxzlEYOgA6Rzdvu-giHAO9rOECweqcauoI6cNWPfcnVSfGTLTkLgVcrqnrIRcBDeN1CLhlLwBGAUNg.webp);
    background-repeat: no-repeat;
    background-position: center;
}
