*{
    margin: 0;
    padding: 0;
    list-style: none;
}
@media screen and (max-width: 1805px){
    .ftop{
        display: none;
    }
}
body{
    font-size: 16px;
    background-color: black;
    color: aliceblue;
}
.container{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
    margin: 0 auto;
    padding-top: 86px;
}
.logo{
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid aliceblue;
    background-color: black;
}
.logo img{
    width: 100px;
    padding: 10px;
    background-color: black;
}
.img1{
    text-align: center;
    border-bottom: 1px solid aliceblue;
}
.img1 img{
    width: 800px;
}
aside{
    box-sizing: border-box;
    text-align: center;
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
    padding: 3px;
    margin-bottom: 5px;
}
aside p{
    font-size: small;
    padding: 2px;
}
.m1 h1{
    box-sizing: border-box;
    padding: 20px;
}
.tr1{
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-bottom: 1px solid aliceblue; */
}
.tr1 h5{
    box-sizing: border-box;
    line-height: 1.5;
    padding: 15px;
}
.mimg{
    display: block;
    margin: 0 auto;
    padding: 10px;
}
.n1{
    width: 600px;
    text-align: left;
    margin: 0 auto;
}
.n2{
    width: 600px;
    text-align: right;
    margin: 0 auto;
}
.v1{
    text-align: center;
    padding-bottom: 30px;
}
iframe{
    border: none;
}
footer{
    border-top: 1px solid gray;
}
footer p{
    font-size: small;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}
.material-symbols-outlined{
    display: block;
    text-align: right;
    width: 1800px;
    margin-bottom: 20px;
}
.siknb{
    border-radius: 20px;
    background-color: aliceblue;
    opacity: 0.8;
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    padding-top: 12.5px;
    position: fixed;
    top: 25px;
    left: 1570px;
}

.siknb a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.skinbc a:hover{
    color: cornflowerblue;
}
.ftop{
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 120px;
    border: 1px solid aliceblue;
    top: 80px;
    left: 200px;
}
a:link {
    color: aliceblue;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
  }
.top_tt a:visited{
    color: aliceblue;
}
.top_tt_ a:visited{
    color: aliceblue;
}
.b_tt a:visited {
    color: red;
    font-weight: normal;
  }
.n_tt a:visited {
    color: red;
    font-weight: normal;
  }
.d_tt a:visited {
    color: red;
    font-weight: normal;
  }
.s_tt a:visited {
    color: red;
    font-weight: normal;
  }
.ftop a:hover {
    color: cornflowerblue;
  }
.material-symbols-outlined a:hover{
    color: cornflowerblue;
}
.top_tt_{
    position: relative;
    text-align: center;
}
.top_ttc_{
    position: absolute;
    display: none;
    visibility: hidden;
    background-color: aliceblue;
    font-size: small;
    right: 50px;
    top: 7px;
    color: black;
    border-radius: 3px;
}
.top_tt_:hover .top_ttc_{
    visibility: visible;
    display: block;
    width: 50px;
}
.top_ttc{
    position: absolute;
    display: none;
    visibility: hidden;
    background-color: aliceblue;
    font-size: small;
    color: black;
    border-radius: 3px;
}
.top_tt:hover .top_ttc{
    visibility: visible;
    display: block;
    top: 15px;
    left: 92px;
    width: 80px;
}
.b_ttc{
    position: absolute;
    display: none;
    visibility: hidden;
    background-color: aliceblue;
    color: black;
    font-size: small;
    border-radius: 3px;
}
.b_tt:hover .b_ttc{
    width: 80px;
    visibility: visible;
    display: block;
    top: 36px;
    left: 92px;
}
.n_ttc{
    position: absolute;
    display: none;
    visibility: hidden;
    background-color: aliceblue;
    color: black;
    font-size: small;
    border-radius: 3px;
}
.n_tt:hover .n_ttc{
    width: 80px;
    visibility: visible;
    display: block;
    top: 60px;
    left: 100px;
}
.d_ttc{
    position: absolute;
    display: none;
    visibility: hidden;
    background-color: aliceblue;
    color: black;
    font-size: small;
    border-radius: 3px;
}
.d_tt:hover .d_ttc{
    width: 80px;
    visibility: visible;
    display: block;
    top: 86px;
    left: 92px;
}
.s_ttc{
    position: absolute;
    display: none;
    visibility: hidden;
    background-color: aliceblue;
    color: black;
    font-size: small;
    border-radius: 3px;
}
.s_tt:hover .s_ttc{
    width: 80px;
    visibility: visible;
    display: block;
    top: 111px;
    left: 92px;
}